body {
    background-color: #f2f2f2;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    background-color: #f2f2f2;
}

.home-text {
    color: black;
    font-family: "Courier New", Courier, monospace;
    font-size: 40px;
    margin-bottom: 20px;
}