.my-data-form {
    display: flex;
    flex-direction: column;
}

.my-data-form label {
    margin-bottom: 10px;
}

.my-data-form input {
    margin-top: 5px;
}

.my-data-form .row {
    display: flex;
    justify-content: space-between;
}

.my-data-form .row .half-width {
    width: 48%;
}

.my-data-form .row .half-width input {
    width: 100%;
}

.my-data-form .row .sex {
    display: flex;
    align-items: center;
    gap: 5px;
}